body{
    background-color: rgb(104, 104, 109);
}
form{
    text-align: center;
   
}
h2{
    color: whitesmoke;
    text-align: center;
    font-size: 50px;

}

h3{
        
    color: whitesmoke;
    text-align: center;
    font-size: large;
}
input{
    color: ddd;
}
#submit{
    color:black;
    background-color: rgb(151, 171, 172);
    margin-top: 5%;
    border-radius: 10%;
    padding: 3% 5%;

}
label{
    
    color: #49c5b6;
}

input{
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    padding: 5%;
    
  }
  
  label {
    display: inline-block;
    color: #000;
    padding: 2%;
  }
  
  /* input[type=submit] {
    background-color: white; 
    padding: 1% 2%;
    border: none;
    border-radius: 1%; */
   
  
   .container{
       position: absolute;
       background-color:#49c5b6 ;
       padding: 5%;
       max-width: 300px;
       margin-left: 36%;
       
   }